@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 30% 98%;
    --foreground: 20 14% 4%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 104 36% 27%; /* Verde Fruti - Elegante */
    --primary-foreground: 0 0% 100%;
    --secondary: 25 80% 54%; /* Naranja Andante - Vibrante */
    --secondary-foreground: 0 0% 100%;
    --muted: 60 10% 94%;
    --muted-foreground: 25 5% 45%;
    --accent: 45 93% 47%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 60 30% 98%;
    --border: 20 10% 90%;
    --input: 20 10% 90%;
    --ring: 104 36% 27%;
    --radius: 1.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5% 26%;
    --sidebar-primary: 104 36% 27%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 104 36% 96%;
    --sidebar-accent-foreground: 104 36% 25%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 104 36% 27%;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 60 30% 98%;
    --card: 20 14% 4%;
    --card-foreground: 60 30% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 60 30% 98%;
    --primary: 104 36% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 25 80% 54%;
    --secondary-foreground: 0 0% 100%;
    --muted: 20 10% 12%;
    --muted-foreground: 25 5% 65%;
    --accent: 45 93% 47%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 60 30% 98%;
    --border: 20 10% 15%;
    --input: 20 10% 15%;
    --ring: 104 36% 27%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
    background-image: radial-gradient(at 0% 0%, hsla(104, 36%, 27%, 0.03) 0, transparent 50%), 
                      radial-gradient(at 100% 100%, hsla(25, 80%, 54%, 0.03) 0, transparent 50%);
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline tracking-tight;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-muted rounded-full;
}